
# 1. Count numbers (*)
Use a for statement to count from:

  a)   -10 to 10 with one increment (*)

  b)   -10 to 10 with two increment (*)

In [2]:
for i in range(-10,11):
    print(i, end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

In [7]:
for i in range(-10,11,2):
    print(i, end=" ")

-10 -8 -6 -4 -2 0 2 4 6 8 10

# 2. Arithmetic sum (*)
Use a for statement to compute the following sums:

  a)   $\text{sum} = 1 + 2 + \ldots + 99+ 100$ (*)

  b)   $\text{sum} = 1 + 3 + 5 + \ldots + 97 + 99$ (*)

In [108]:
summa=0

for i in range(0,101):
    
    summa+=i
    
    print(f"{i}", end = "")
    if i != 100:
        print("+", end="")

    if i == 100:
        print(f"={summa}", end="")

0+1+2+3+4+5+6+7+8+9+10+11+12+13+14+15+16+17+18+19+20+21+22+23+24+25+26+27+28+29+30+31+32+33+34+35+36+37+38+39+40+41+42+43+44+45+46+47+48+49+50+51+52+53+54+55+56+57+58+59+60+61+62+63+64+65+66+67+68+69+70+71+72+73+74+75+76+77+78+79+80+81+82+83+84+85+86+87+88+89+90+91+92+93+94+95+96+97+98+99+100=5050

In [120]:
summa=0

for i in range(1,101,2):
    
    summa+=i
    
    print(f"{i}", end = "")
    
    if i != 99:
        print("+", end="")
    
    if i == 99:
            print(f"={summa}", end="")

1+3+5+7+9+11+13+15+17+19+21+23+25+27+29+31+33+35+37+39+41+43+45+47+49+51+53+55+57+59+61+63+65+67+69+71+73+75+77+79+81+83+85+87+89+91+93+95+97+99=2500

# 3. Multiplication table (*)
Use for statement(s) to:

  a)   print out the 6th multiplication table from 0 to 10 (*)

  b)   let the user input the table, start and end of the table. (*)

  c)   print out a full multiplication table from 0 to 10. (**)